# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

**/target/
**/*.iml
**/.ide
**/*.idea
*.idea
.idea/*.*
