<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdu.lys.graduation.repository.dao.UserCouponDOMapper" >
  <resultMap id="BaseResultMap" type="com.cdu.lys.graduation.repository.entity.UserCouponDO" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="coupon_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="coupon_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reach" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="reduce" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="expire_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="is_expire" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="is_delete" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, coupon_id, coupon_name, reach, reduce, expire_time, is_expire, create_time,
    update_time, is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cdu.lys.graduation.repository.entity.UserCouponDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_user_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_user_coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user_coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cdu.lys.graduation.repository.entity.UserCouponDOExample" >
    delete from tb_user_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cdu.lys.graduation.repository.entity.UserCouponDO" >
    insert into tb_user_coupon (id, user_id, coupon_id,
                                coupon_name, reach, reduce,
                                expire_time, is_expire, create_time,
                                update_time, is_delete)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{couponId,jdbcType=INTEGER},
            #{couponName,jdbcType=VARCHAR}, #{reach,jdbcType=DOUBLE}, #{reduce,jdbcType=DOUBLE},
            #{expireTime,jdbcType=TIMESTAMP}, #{isExpire,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdu.lys.graduation.repository.entity.UserCouponDO" >
    insert into tb_user_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="couponName != null" >
        coupon_name,
      </if>
      <if test="reach != null" >
        reach,
      </if>
      <if test="reduce != null" >
        reduce,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="isExpire != null" >
        is_expire,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="couponName != null" >
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="reach != null" >
        #{reach,jdbcType=DOUBLE},
      </if>
      <if test="reduce != null" >
        #{reduce,jdbcType=DOUBLE},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isExpire != null" >
        #{isExpire,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cdu.lys.graduation.repository.entity.UserCouponDOExample" resultType="java.lang.Integer" >
    select count(*) from tb_user_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_user_coupon
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.couponId != null" >
        coupon_id = #{record.couponId,jdbcType=INTEGER},
      </if>
      <if test="record.couponName != null" >
        coupon_name = #{record.couponName,jdbcType=VARCHAR},
      </if>
      <if test="record.reach != null" >
        reach = #{record.reach,jdbcType=DOUBLE},
      </if>
      <if test="record.reduce != null" >
        reduce = #{record.reduce,jdbcType=DOUBLE},
      </if>
      <if test="record.expireTime != null" >
        expire_time = #{record.expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isExpire != null" >
        is_expire = #{record.isExpire,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_user_coupon
    set id = #{record.id,jdbcType=INTEGER},
    user_id = #{record.userId,jdbcType=INTEGER},
    coupon_id = #{record.couponId,jdbcType=INTEGER},
    coupon_name = #{record.couponName,jdbcType=VARCHAR},
    reach = #{record.reach,jdbcType=DOUBLE},
    reduce = #{record.reduce,jdbcType=DOUBLE},
    expire_time = #{record.expireTime,jdbcType=TIMESTAMP},
    is_expire = #{record.isExpire,jdbcType=CHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    is_delete = #{record.isDelete,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdu.lys.graduation.repository.entity.UserCouponDO" >
    update tb_user_coupon
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=INTEGER},
      </if>
      <if test="couponName != null" >
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="reach != null" >
        reach = #{reach,jdbcType=DOUBLE},
      </if>
      <if test="reduce != null" >
        reduce = #{reduce,jdbcType=DOUBLE},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isExpire != null" >
        is_expire = #{isExpire,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdu.lys.graduation.repository.entity.UserCouponDO" >
    update tb_user_coupon
    set user_id = #{userId,jdbcType=INTEGER},
        coupon_id = #{couponId,jdbcType=INTEGER},
        coupon_name = #{couponName,jdbcType=VARCHAR},
        reach = #{reach,jdbcType=DOUBLE},
        reduce = #{reduce,jdbcType=DOUBLE},
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
        is_expire = #{isExpire,jdbcType=CHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        is_delete = #{isDelete,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>